@model ChurchConnectLite.Core.Entities.Church

@{
    ViewData["Title"] = "Edit";
}


<head>

    <!-- Custom fonts for this template-->
    <link href="~/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/dashboard/css/sb-admin-2.min.css" rel="stylesheet" />
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a asp-controller="Home" asp-action="Index" class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon">
                    <img src="~/dashboard/img/favicon.png">
                </div>
                <img src="~/dashboard/img/favicon1.png" class="sidebar-brand-text">
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a asp-area="" asp-controller="Churches" asp-action="Dashboard" class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Profile
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a asp-action="Edit" asp-route-id="@Model.ID" class="nav-link">
                    <i class="fa fa-edit"></i>
                    <span>Edit Profile</span>
                </a>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a asp-action="Index" asp-route-id="@Model.ID" class="nav-link">
                    <i class="fa fa-eye"></i>
                    <span>Visit Profile</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Minister
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                @if (Model.MainMinisters == null)
                {
                    <a asp-area="" class="nav-link" asp-controller="MainMinisters" asp-action="Create">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Add Main Minister</span>
                    </a>
                }
                else
                {
                    <a asp-area="" class="nav-link" asp-controller="MainMinisters" asp-action="Edit" asp-route-id="@Model.MainMinisters.ID">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Edit Main Minister</span>
                    </a>
                }
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a asp-area="" asp-controller="Ministers" asp-action="Create" class="nav-link">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Add Ministers</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Gallery
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Images" asp-action="Create" asp-route-id="@Model.ID">
                    <i class="fas fa-file-alt"></i>
                    <span>Add to church gallery</span>
                </a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Donation
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a asp-area="" asp-controller="Denominations" asp-action="Create" class="nav-link">
                    <i class="fas fa-fw fa-donate"></i>
                    <span>Donations</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a asp-area="" asp-controller="Denominations" class="nav-link" asp-action="Create">
                    <i class="fas fa-fw fa fa-plus"></i>
                    <span>Add Denomination</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Charts -->
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Cele</span>
                                <img class="img-profile rounded-circle" id="myImg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="row">
                        <form asp-action="Edit" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ID" />

                            <!-- Content Column -->
                            <div class="col-lg-12 mb-4">

                                <!-- Project Card Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Church Profile</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-4 mb-3">
                                                <label asp-for="Name"></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="inputGroupPrepend">C</span>
                                                    </div>
                                                    <input asp-for="Name" type="text" class="form-control" placeholder="Church Name" aria-describedby="inputGroupPrepend">
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label class="control-label">Choose Denominaton</label>
                                                <select asp-for="DenominationId" class="form-control" asp-items="ViewBag.DenominationId">
                                                    <option value="">----- Select Denomination -----</option>
                                                </select>
                                                <span asp-validation-for="DenominationId" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label asp-for="OnlineServiceUrl"></label>
                                                <input asp-for="OnlineServiceUrl" type="text" class="form-control" placeholder="Service Url">
                                                <span asp-validation-for="OnlineServiceUrl" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="form-group">
                                                    <label asp-for="About"></label>
                                                    <textarea class="form-control" asp-for="About" id="exampleFormControlTextarea1" style="height:210px" rows="3"></textarea>
                                                    <span asp-validation-for="About" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="input-group">
                                                    <img class="card-img-top" style="width:100%; height:100%;" id="myImg" />
                                                    <div class="custom-file">
                                                        <input type="file" id="inputGroupFile01"
                                                               name="file" />
                                                        @*<label class="custom-file-label" for="inputGroupFile01">Upload Logo</label>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3" hidden>
                                                <div class="input-group">
                                                    <img class="card-img-top" style="width:100%; height:100%;" id="myImg" />
                                                    <div class="custom-file">
                                                        <input asp-for="LogoUrl" type="text" id="inputGroupFile01"
                                                               />
                                                        @*<label class="custom-file-label" for="inputGroupFile01">Upload Logo</label>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3" hidden>
                                                <div class="input-group">
                                                    <img class="card-img-top" style="width:100%; height:100%;" id="myImg" />
                                                    <div class="custom-file">
                                                        <input asp-for="LogoBlobName" type="text" id="inputGroupFile01"
                                                                />
                                                        @*<label class="custom-file-label" for="inputGroupFile01">Upload Logo</label>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3" hidden>
                                                <div class="input-group">
                                                    <img class="card-img-top" style="width:100%; height:100%;" id="myImg" />
                                                    <div class="custom-file">
                                                        <input asp-for="Visitor" type="text" id="inputGroupFile01"
                                                                />
                                                        @*<label class="custom-file-label" for="inputGroupFile01">Upload Logo</label>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="WorshipDays" class="control-label"></label>
                                                <textarea asp-for="WorshipDays" class="form-control"></textarea>
                                                <span asp-validation-for="WorshipDays" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label asp-for="WorshipDays"></label>
                                                <input asp-for="WorshipDays" type="text" class="form-control">
                                                <span asp-validation-for="WorshipDays" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!-- Project Card Example -->
                                                <div class="card shadow mb-4">
                                                    <div class="card-header py-3">
                                                        <h6 class="m-0 font-weight-bold text-primary">Contact</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-row">
                                                            <div class="col-md-6 mb-3">
                                                                <label asp-for="Email"></label>
                                                                <input asp-for="Email" type="text" class="form-control" >
                                                                <span asp-validation-for="Email" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label asp-for="Website"></label>
                                                                <input asp-for="Website" type="text" class="form-control" >
                                                                <span asp-validation-for="Website" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label asp-for="Phone1"></label>
                                                                <input asp-for="Phone1" type="text" class="form-control" >
                                                                <span asp-validation-for="Phone1" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label asp-for="Phone2"></label>
                                                                <input asp-for="Phone2" type="text" class="form-control">
                                                                <span asp-validation-for="Phone2" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Content Column -->
                                            <div class="col-lg-6 mb-4">

                                                <!-- Project Card Example -->
                                                <div class="card shadow mb-4">
                                                    <div class="card-header py-3">
                                                        <h6 class="m-0 font-weight-bold text-primary">Location</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-row">
                                                            <div class="col-md-6 mb-3">
                                                                <label asp-for="Country"></label>
                                                                <input asp-for="Country" type="text" class="form-control" >
                                                                <span asp-validation-for="Country" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label asp-for="State"></label>
                                                                <input asp-for="State" type="text" class="form-control" >
                                                                <span asp-validation-for="State" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-8 mb-3">
                                                                <label asp-for="Address"></label>
                                                                <input asp-for="Address" type="text" class="form-control" >
                                                                <span asp-validation-for="Address" class="text-danger"></span>
                                                            </div>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- Content Column -->
                                            <div class="col-lg-6 mb-4">

                                                <!-- Project Card Example -->
                                                <div class="card shadow mb-4">
                                                    <div class="card-header py-3">
                                                        <h6 class="m-0 font-weight-bold text-primary">Bank Details</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-row">
                                                            <div class="col-md-12 mb-3">
                                                                <label asp-for="BankName"></label>
                                                                <input asp-for="BankName" type="text" class="form-control" >
                                                                <span asp-validation-for="BankName" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-12 mb-3">
                                                                <label asp-for="AccountName"></label>
                                                                <input asp-for="AccountName" type="text" class="form-control" placeholder="Account Name">
                                                                <span asp-validation-for="AccountName" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-12 mb-3">
                                                                <label asp-for="AccountNumber"></label>
                                                                <input asp-for="AccountNumber" type="text" class="form-control" placeholder="Service Url">
                                                                <span asp-validation-for="AccountNumber" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Content Column -->
                                            <div class="col-lg-6 mb-4">
                                                <!-- Project Card Example -->
                                                <div class="card shadow mb-4">
                                                    <div class="card-header py-3">
                                                        <h6 class="m-0 font-weight-bold text-primary">Social Media</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-row">
                                                            <div class="col-md-12 mb-3">
                                                                <label asp-for="Facebook"></label>
                                                                <input asp-for="Facebook" type="text" class="form-control" placeholder="Facebook Url" >
                                                                <span asp-validation-for="Facebook" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-12 mb-3">
                                                                <label asp-for="Instagram"></label>
                                                                <input asp-for="Instagram" type="text" class="form-control" placeholder="Instagram Url" >
                                                                <span asp-validation-for="Instagram" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-12 mb-3">
                                                                <label asp-for="Twitter"></label>
                                                                <input asp-for="Twitter" type="text" class="form-control" placeholder="Twitter Url" >
                                                                <span asp-validation-for="Twitter" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Church Connect &copy; 2019</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="~/dashboard/vendor/jquery/jquery.min.js"></script>
        <script src="~/dashboard/vendor/bootstrap/js/bootstrap.bundle.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/dashboard/js/sb-admin-2.js"></script>
        <!-- Page level plugins -->
        <script src="~/dashboard/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="~/dashboard/js/demo/chart-pie-demo.js"></script>
        <script src="~/dashboard/js/demo/chart-area-demo.js"></script>


</body>

<script>

    $(function () {
        $(":file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {
        $('#myImg').attr('src', e.target.result);
    };
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

